<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mess chat application</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.1/css/all.css}">
    <link rel="stylesheet" th:href="@{/styles/message/nav.css} ">
    <link rel="stylesheet" th:href="@{/styles/message/conversations.css} ">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/web-socket.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/mess.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/switch.js}"></script>
</head>
<body>
    <div class="mess">
        <div class="nav">
            <div class="profile">
                <div class="icon">
                    <img th:src="@{/images/icon.jpeg}"/>
                </div>
                <div class="name">
                    <span th:text="${user.username}"></span>
                    <span class="wb"></span>
                </div>
                <div class="cog">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
            </div>
            <div class="search">
                <form autocomplete="off">
                    <input type="text" id="search" placeholder="Search: ">
                </form>
                <div class="found">

                </div>
            </div>
            <div class="conversations_list">
                <th:block th:each="conversation : *{conversations}">
                    <div class="conversation" th:id="${conversation.id}">
                        <div class="icon">
                            <img th:src="@{/images/img.png}"/>
                        </div>
                        <div class="name">
                            <span th:if="${conversation.isGroup()}"th:text="${conversation.name}"></span>
                            <span th:unless="${conversation.isGroup()}">[[${conversation.getName(user)}]]</span>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <!--nav end-->
        <div class="conversations_box">
            <div class="back_icon">
                <i class="fas fa-chevron-circle-left"></i>
            </div>
            <div id="messageArea" class="messageArea">
                <th:block th:each="conversation : *{conversations}">
                    <div th:id="${conversation.id}" class="conv">
                        <th:block th:each="message : ${conversation.messages}">
                            <div th:if="${message.user_id == user.id}" class="post">
                                <span th:utext="${message.message}" th:id="${message.id}"></span>
                            </div>
                            <div th:unless="${message.user_id == user.id}" class="get">
                                <span th:utext="${message.message}" th:id="${message.id}"></span>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>
            <div class="message">
                <input type="text" id="message" placeholder="Type message">
                <button id="send">
                    <i class="fas fa-share-square"></i>
                </button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var list  = [[${readList}]];
        for(elem of list){
            elem = elem[0];
            setRead(elem.id.conv_id, elem.id.user_id, elem.mess_id, elem.readData)
        }
    </script>
</body>
</html>