/*Color patterns*/
:root {
    --main-color: #040032;
    --nav-color: #5a687c;
    --message-color: #222b3f;
    --elem-color: #c1cdd6;
    --cloud-color: #001338;
    --text-color: #eff0eb;
}

body{
    background: radial-gradient(circle, rgba(51, 58, 67, 0.90) 0%, rgba(30, 34, 38, 0.90) 100%);
    color: var(--text-color);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.75vh;
}

@media screen and (max-width : 1024px) {
    body * {
        font-size: 2.5vh;
    }
    button {
        font-size: 3vh !important;
    }
}